.chronometer {
    text-align: center;
    font-size: 1.8em;
    margin: 0.5em;
}

.fast {
    color: green;
}
.medium {
    color: rgb(0, 64, 0);
}
.long {
    color: orange;
}
.verylong {
    color: crimson;
}
