.question {
    width: 100%;
    font-size: 34px;
    text-align: center;
}

.question-q {
    display: inline-block;
    text-align: right;
}

.question-answer {
    width: 100px;
    font-size: 34px;
    text-align: center;
}

@media (max-width: 320px) {
    .question {
        font-size: 30px;
    }

    .question-answer {
        width: 90px;
        font-size: 30px;
    }
}

@media (min-width: 500px) {
    .question {
        font-size: 40px;
    }

    .question-answer {
        width: 180px;
        font-size: 40px;
    }
}
